<main class="main">
  <section class="section-presentation">

    <div class="area-presentation box-title">
      <h1 class="display fw-bolder mb-5">
        <!-- <span class="text-gradient d-inline title typewriter" id="typewriter">{{ title }}</span> -->
           <span class="text-gradient d-inline title typewriter" [innerHTML]="title"></span>
      </h1>
      <a class="btn btn-warning fw-bold px-4 py-2" [routerLink]="['/project']">{{title_btn}}</a>
    </div>
    <div class="area-presentation">
     <img src="assets/foto_perfil.png" width="400" alt="">
     </div>
  </section>
</main>

<app-hero-section></app-hero-section>
<app-presentation></app-presentation>