<div class="container">

     <div class="row section-presentation">
      <div class="col-lg-6 area-presentation">
        <div class="row presentation-pill">
            <h1>Title</h1>
        </div>
        <div class="row presentation-title">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, impedit ab dolores odit eveniet delectus saepe possimus culpa atque rem dignissimos, corporis placeat eligendi! Nisi quasi quam quod quae assumenda?
        </div>
        <div class="row presentation-btn">
            <button>LASLASa</button>
        </div>
      </div> 
      
      <div class="col-lg-6 area-image">
         <div class="row img"></div>
      </div> 
 
       
    </div> 
</div>
<app-hero-section></app-hero-section>

