*{
    padding: 0;
    margin: 0;
}

.container{
    border: 3px solid red;
    max-width: 100%; 
    margin-top: 125px;
 
    .main{
        border: 3px dashed rgb(0, 81, 255);
        // height: 707px; 
    }

}