*{
    padding: 0;
    margin: 0;
}

.container{
    border: 3px solid red;
    max-width: 100%; 
 
    .header{
        // border: 1px dashed blue;
        width: 100%; 
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 60px;
        
    }
    .main{
        border: 3px dashed red;
        // height: 707px; 
    }

}