@use "../../styles/variables.scss" as *;

.hero-section{
    border: 2px solid;
    height: 350px;
    display: flex;
    justify-content: center;
    background-color: $five-color;


        .hero{
            // border: 2px solid red;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-align: center;
            

            &-title{
              border: 2px solid;
            }

            &-description{
                border: 2px solid;
            }

            &-social-media{
                display: flex;
                justify-content: center;
                border: 2px solid;
                img{
                    width: 40px;
                }
            }

        }
    }

    @media (min-width: 1024px) and (max-width: 1440px){
    .row{
        // background-color: red;
        border: 2px solid red;
        width: 100%;
        
        .hero-area{
            // background-color: red;
            .col-lg-6{
                width: 80%;
                background-color: blue;
            }
        }

        .hero-social-media{
            display: flex;
            justify-content: center;
            img{
                width:40px;
            }
           
        }

    }
}

@media (min-width: 370px) and (max-width: 768px){
    .row{
        // background-color: red;
        border: 2px solid red;
        .hero-area{
            // background-color: red;
            width: 95%;
        }

        .hero-social-media{
            img{
                width: 35px;
            }
           
        }

    }
}

