<div class="row hero-section">
    <div class="row hero hero-area">
        <div class="col-lg-6 hero-title">
            <h1>Titulo</h1>
        </div>
        <div class="col-lg-6 hero-description">
            <p class="pre-desc">lkaskaslkjincweopie</p>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores suscipit, iusto consequatur cumque, fuga dignissimos dicta nostrum et modi asperiores in reiciendis ipsam, rem explicabo amet. Dicta architecto alias ipsum.</p>
        </div>
        <div class="col-lg-6 hero-social-media">
               <div class="col-lg-3 social-media-btn">
                <span><img src="../../../assets/icons/icons8-linkedin.svg" alt=""></span>
                <span><img src="../../../assets/icons/icons8-github.svg" alt=""></span>
                <span><img src="../../../assets/icons/icons8-youtube.svg" alt=""></span>
            </div>
        </div>
    </div>
</div>