<div class="row hero-section">
    <div class="row hero hero-area">
        <div class="col-lg-6 hero-title">
            <h1>{{title}}</h1>
        </div>
        <div class="col-lg-6 hero-description">
            <p class="pre-desc">{{predescription}}</p>
            <p class="description">{{description}}</p>
        </div>
        <div class="col-lg-6 hero-social-media">
               <div class="col-lg-3 social-media-btn">
                <span><img src="../../../assets/icons/icons8-linkedin.svg" alt=""></span>
                <span><img src="../../../assets/icons/icons8-github.svg" alt=""></span>
                <span><img src="../../../assets/icons/icons8-youtube.svg" alt=""></span>
            </div>
        </div>
    </div>
</div>