<div class="main">
  <div class="album py-5">
    <div class="container">
      <h2 class="mx-3 mb-5 title-session" style="text-align: center;">{{title_session}}</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 p-3 rounded-4 section-skills">
        <div class="col-lg-10">
          <h2 class="mb-4 subtitle">{{subtitle[0]}}</h2>

          <div class="card shadow-sm mb-3" *ngFor="let exp of experience">
            <div class="row p-3"> <!-- ESSENCIAL para grid funcionar -->

              <div class="col-md-3 col-12 p-4 card-time-line">
                <span class="">{{exp.dateStart}}</span> - <span>{{exp.dateEnd}}</span>
                <h6>{{exp.function}}</h6>
                <hr>
                <span class="fst-italic">{{exp.employer}}</span>, <p>{{exp.city}}</p>
              </div>

              <div class="col-md-7 col-12 card-information">
                <div class="card-body">
                  <p class="card-text" [innerHTML]="exp.description">
                     <!-- {{exp.description}} -->
                  </p>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 p-3  section-skills">
        <div class="col-lg-10">
          <h2 class="mb-4 subtitle">{{subtitle[1]}}</h2>

          <div class="card shadow-sm  mb-4" *ngFor="let edu of education">
            <div class="row p-3"> <!-- ESSENCIAL para grid funcionar -->

              <div class="col-md-2 col-12 p-4 card-time-line" style="display: flex; align-items: center;">
                <span class="">{{edu.dateStart}}</span> - <span>{{edu.dateEnd}}</span>
              </div>

              <div class="col-md-6 col-12 card-information">
                <div class="card-body">
                  <h6>{{edu.course}}</h6>
                  <!-- <hr> -->
                  <span class="fst-italic">{{edu.school}}</span>, <span>{{edu.location}}</span>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div> 

     <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 p-4 mt-3 rounded-4 section-skills">
        <div class="col-lg-12 mb-3">
          <h2 class="mb-4 subtitle">{{subtitle[2]}}</h2>

          <div class="card shadow-sm card-information">
            <div class="row p-3"> 

            <div class="col-md-2 mb-4 col-12 p-2 card-skill" *ngFor="let lang of language">
            <h6>{{lang.name}}</h6>
            <span class="">{{lang.level}}</span>
            </div>

          </div>

        </div>
      </div>

        <div class="col-lg-12 w-100 mb-3">
          <h2 class="mb-4 subtitle">{{subtitle[3]}}</h2>

          <div class="card shadow-sm card-information">
            <div class="row p-3"> 

              <div class="col-md-2 mb-4 col-12 p-2 card-skill" *ngFor="let langPro of programmingLanguages">
                <span class="">{{langPro}}</span>
              </div>

            </div>

          </div>

        </div>

        <div class="col-lg-12 w-100 mb-3">
          <h2 class="mb-4 subtitle">{{subtitle[4]}}</h2>

          <div class="card shadow-sm card-information">
            <div class="row p-3"> 

              <div class="col-md-2 col-12 p-2 card-skill" *ngFor="let skill of professionalSkills">
                <span class="">{{skill}}</span>
              </div>

            </div>

          </div>

        </div>
       

    </div>


  </div>
</div>
