@use "../../styles/variables.scss" as *;

.main {
  border: 2px solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $five-color;

  .container {
    .section-experience {
      // border: 2px solid red;

      .card {
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
        .card-time-line {
          background-color: gray;
          // border: 2px solid red;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          // padding: 25px;
          border-radius: 5px;
          border-left: 3px solid $second-color;

        }

        .card-information {
          border: 2px solid red;
          display: flex;
          align-items: center;

          .card-body {
            width: 100%;
          }
        }
      }
    }
  }
}

    @media (min-width: 576px)and (max-width: 1024px){
      .section-experience {
        // background-color: blue;
        padding: 0px !important;
      }
      .card{
        // background-color: red;
        width: 510px;
         
      }
    }
