<div class="main">
    <div class="content">
        <div class="area-resume">
            <div class="title">
                <h1 class="title">{{title}}</h1>
            </div>

            <div class="section-history">
                <div class="sub-title">
                    <h2>{{subtitle[0] | titlecase }}</h2>
                    <button class="btn btn-primary">{{btn | titlecase}}</button>
                </div>

                <div class="card">
                    <div class="information">
                        <div class="year">2019-Present</div>
                        <div class="function">Web Developer</div>
                        <div class="company">Stark Lab</div>
                        <div class="city">Rio de Janeiro - RJ</div>
                    </div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad vero sit accusamus eligendi sed. Quam perspiciatis libero officia minus quod quidem sunt eveniet exercitationem nesciunt possimus itaque dolorem, accusamus neque!</p>
                    </div>
                </div>

            </div>

            <div class="section-history"></div>
            <div class="section-skills"></div>
        </div>
    </div>
</div>

