@use "../../styles/variables.scss" as *;

.nav-bar{
    // border: 1px dashed blue; 
    width: 1320px;
    height: 72px;
    display: flex;
    align-items: center;
    flex-direction:row-reverse;
    justify-content: space-between;

        
    .card{
        border:none;

        .nav{
            .nav-link{
                color: $fourth-color;
                font-weight: 600;
            }
        }
    }
    .nav{
        // background-color: red;
    }


}

