<div class="nav-bar">
       <div class="card">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="flex flex-wrap gap-8">
                <div class="flex-auto">
                <img src="../../../assets/Logo1.svg" width="70px"  alt="">
            </div>
        </div>
    </div>
 
</div>