        <main class="flex-shrink-0">
            <!-- Projects Section-->
            <section class="py-5 section-projects">
                <div class="container px-5 mb-5" style="border: 2px solid ;">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>

                    <div class="row gx-5 justify-content-center projects">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center card-project">
                                        <div class="p-4">
                                            <h2 class="fw-bolder mb-4">Project Name 1</h2>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius at enim eum illum aperiam placeat esse? Mollitia omnis minima saepe recusandae libero, iste ad asperiores! Explicabo commodi quo itaque! Ipsam!</p>
                                        </div>
                                        <img class="img-fluid w-100" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                                    </div>

                                    <div class="text-center mt-3 mb-3 p-4">
                                        <span class="fw-bold">Acesse o projeto clicando no link:
                                            <a href="#">Projeto</a>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>

            </section>
            <app-hero-section></app-hero-section>
        </main>