@use "../../styles/variables.scss" as *;

.container{
    .title-session{
        text-transform: uppercase;
      background: linear-gradient(90deg, rgb(4, 0, 255), orange, rgb(230, 230, 230));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }

    .card-content-text{
        border-left: 3px dotted $second-color;
        
    }
}