<main class="flex-shrink-0">
<div class="container mb-5">

    <div class="mt-5 mb-5 title-session">
        <h2>{{title_session}}</h2>
    </div>
    <div class="row mb-2">
        <div *ngIf="filteredProjects.length === 0" class="text-center my-5">
            <h4>Nenhum projeto encontrado com essa tecnologia 😕</h4>
        </div>
        
        <div class="col-md-12" *ngFor="let pro of filteredProjects">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static card-content-text"              
                >
                    <h3 class="mb-0">{{pro.title}}</h3>
                    <div class="mb-1 mt-3 mb-3">
                        <span class="fw-bold">Data: </span>
                        <span>{{pro.date}}</span>
                    </div>
                    
                    <div class="mb-1 mt-3 mb-3">
                        <span class="fw-bold">Descricao do projeto: </span>
                        <span>{{pro.description}}</span>
                    </div>

                    <div>
                        <span class="fw-bold">Teconologias: </span>
                        <!-- <span>{{pro.stacks}}</span> -->
                         <div class="badge rounded-pill bg-gradient-primary-to-secondary text-white mb-4 mx-1" *ngFor="let skill of pro.stacks">
                            <span>{{skill}}</span>
                         </div>
                    </div>
                    
                    <div class="d-flex">
                        <span class="fw-bold">Link do Projeto: </span>
                        <a [href]="pro.link_projeto" target="_blank" rel="noopener noreferrer" class="mx-1">
                            {{pro.link_projeto}}
                        </a>
                    </div>
                    
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img [src]="pro.img" alt="" width="450" height="350">
                </div>
            </div>
        </div>
    </div>
        

</div>
<!-- <app-hero-section></app-hero-section> -->
</main>
<app-whatsapp></app-whatsapp>
