@use "../../styles/variables.scss" as *;

.main{

    .box-contact{
        background-color:$five-color;
        margin-top: 7%;
    }

    h2{
        font-size: 2rem;
    }



    .box-whatsapp{
        // border: 2px solid;
        display: flex;
        flex-direction: row-reverse;

        .btn-whatsapp {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #25d366;
            color: white;
            padding: 10px 15px;
            border-radius: 50px;
            text-decoration: none;
            display: flex;
            align-items: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

        img {
            margin-right: 10px;
        }

        &:hover {
            background-color: #1ebea5;
        }
    }
}
}
.container{

    .title-session{
        text-transform: uppercase;
        background: linear-gradient(90deg, orange, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;

    }
}

@media(min-width:1024px){
    .main{
        width: 1000px;
    }
}

@media(min-width:320px) and (max-width:768px){
    .box-contact{
        width: 90vw;
    }
}