<main class="flex-shrink-0 main mt-5">
    <section class="py-4">
        <div class="container px-5">
            <div class="rounded-4 py-3 px-4 px-md-5 box-contact" >
                <div class="text-center mb-5">
                    <div class="feature text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h2 class="fw-bolder title-session">{{title_session}}</h2>
                    <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
                </div>

                <div class="row gx-5 justify-content-center" >
                    <div class="col-lg-8 col-xl-6 mb-4">
                        <app-form></app-form>
                    </div>
                </div>
            </div>
        </div>
            

    </section>
    
    <section class="box-whatsapp">
        <a
                class="btn-whatsapp"
                href="https://api.whatsapp.com/send?phone=5521988798592&text=Olá!%20Gostaria%20de%20saber%20mais%20sobre%20seus%20projetos."
                target="_blank"
                rel="noopener noreferrer"
            >
            <img src="assets/icons/icons8-whatsapp-96.svg" alt="WhatsApp" width="40" />
            </a>
    </section>
</main>