
.container{
    .title-session{
        text-transform: uppercase;
        background: linear-gradient(90deg, orange, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
}

@media(min-width:1024px){
    .main{
        width: 1000px;
    }
}