@use "../../styles/variables.scss" as *;

.main{

    .box-contact{
        background-color:$five-color;
        margin-top: 7%;
        margin: 7% auto;              // Centraliza
        padding: 1.5rem;
        border-radius: 12px;

        width: 90vw;           // ocupa quase toda a largura da tela
        max-width: 800px;      // permite expandir mais em telas grandes
        box-sizing: border-box;
    }

    h2{
        font-size: 2rem;
    }

}
.container{

    .title-session{
        text-transform: uppercase;
        background: linear-gradient(90deg, orange, blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;

    }
}

@media(min-width:1024px){
    .main{
        width: 1000px;
    }
}

@media(min-width:320px) and (max-width:768px){
    .container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .box-contact {
    width: 95vw;
    max-width: none;
  }

  input,
    textarea,
    button {
    width: 100%;
    box-sizing: border-box;
}
}