    <footer class="footer">
      <div class="row">
        <p class="col-md-4 mb-0 text-body-secondary">&copy; {{currentYear}} , {{nome}}</p>
      </div>

      <div class="row">
        <a href="/" class="col-md-4 link-body-emphasis text-decoration-none">
            <img src="../../../assets/Logo1.svg" width="50"  alt="">
        </a>
      </div>

      <div class="row">
          <ul class="nav col-md-4">
          <li class="nav-item" *ngFor="let link of footer">
            <a [routerLink]="['/', link.toLowerCase()]" class="nav-link px-2 text-body-secondary">{{link}}</a>
          </li>
          
        </ul>
      </div>

  </footer>
