<div>
    <form id="contactForm" #form="ngForm" data-sb-form-api-token="API_TOKEN" (ngSubmit)="submitForm()">
    <!-- Name input-->
    <div class="form-floating mb-3">
        <input class="form-control" id="name" type="text" placeholder="Name" 
            name="nome"
            [(ngModel)]="nome"
            required
            #nomeInput="ngModel"
        />

        <div 
            style="color:red"
            class="mx-2"
            *ngIf="nomeInput.invalid && nomeInput.touched">
            Name is required!
        </div>
    </div>


    <!-- Email address input-->
    <div class="form-floating mb-3">
        <input class="form-control" id="email" type="email"  
            name="email"
            [(ngModel)] = email
            required
            #emailInput="ngModel"
        />

        <div 
            style="color:red"
            class="mx-2"
            *ngIf="nomeInput.invalid && nomeInput.touched">
            Email is required!
        </div>
    </div>

    <!-- Phone number input-->
    <div class="form-floating mb-3">
        <input class="form-control" id="phone" type="tel" 
            name="phone"
            [(ngModel)]="phone"
            #phoneInput="ngModel"
        />
         
    </div>

    <!-- Message input-->
    <div class="form-floating mb-3">
        <textarea 
            class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem"
            name="message"
            [(ngModel)]="message"
            required
            #messageInput="ngModel"
            >
        </textarea>
        <div 
            style="color:red"
            class="mx-2"
            *ngIf="nomeInput.invalid && nomeInput.touched">
            Message is required!
        </div>
    </div>
                    
    <!-- Submit Button-->
    <div class="d-grid"><button class="btn btn-lg" id="submitButton" type="submit"
        [disabled]="form.invalid"    
    >Submit</button></div>
    
</form>
</div>