<div class="main">
    <div class="area-presentaion">
        <div class="section-presentation">
            <div class="presentation-pill">
                <span class="badge rounded-pill" 
                    *ngFor="let skill of skills">
                    {{skill | uppercase}}
                </span>
            </div>
            <div class="presentation-title">
                <h1 class="teste">{{title}}</h1>
            </div>
            <div class="presentation-btn">
                <span>
                    <button type="button" class="btn btn-primary">Resume</button>
                </span>
                <span>
                    <button type="button" class="btn btn-secondary">Projects</button>
                </span>
            </div>
        </div>
    </div>
    <div class="box-image">
        <div class="img">
            <img src="../../../../assets/perfil05.svg" width="100%" alt="">
        </div>
    </div>
</div>
<div class="section-network">

</div>