<div class="col-12 col-md-6 hero-social-media" style="">
        <div class="col-lg-3 social-media-btn">
        <span><a href="https://www.linkedin.com/in/andreluislima89/" target="_blank"><img src="assets/icons/icons8-linkedin.svg" title="Link do Linkedin"></a></span>
        <span><a href="https://github.com/andreluislima"><img src="assets/icons/icons8-github.svg" alt="" target="_blank" title="Link do Github"></a></span>
        <span><a href=""><img src="assets/icons/icons8-youtube.svg" alt="" target="_blank" title="Link do Youtube"></a></span>
    </div>
</div>